@model efHieuDemo.Models.People

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Create new people</h1>
<br>
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" type="number" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
